@charset "utf-8";
/* CSS Document */
*{margin: 0;
  padding: 0;
}
body {
	background-color: #f6fcfc;
}
a.lj:hover{text-decoration:underline;
          color:#000;
}
.hm:hover{color:#FFF;
}
@font-face{font-family:heiti;
src:url(../simhei.ttf)
}
@font-face{font-family:heiti2;
src:url(../AdobeHeitiStd-Regular.otf)
}
@font-face{font-family:zihun;
src:url(../%E5%AD%97%E9%AD%82189%E5%8F%B7-%E6%98%9F%E5%B2%A9%E4%B9%90%E9%BB%91%E4%BD%93.ttf)
}



.tu{
	border: 1px solid #000;
}
h2{
	font-size: 20px;
	font-family: heiti;
	border-left:5px solid #4898FF;
}
p{
	width: 850px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: heiti;
	line-height: 1.8em;
	letter-spacing: 2px;
}
.mul{
	height: 180px;
	width: auto;
	margin-top: -150px;
	padding-top: 150px;
}
blockquote{background-color: #dbf5f5;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid #81d7d7;
    padding: 10px;
    width: 850px;
	border-radius:5px;
}
ol{width: 785px;
    margin-right: auto;
    margin-left: auto;
    font-family: heiti;
    line-height: 1.8em;
    letter-spacing: 2px;
    padding: 25px;
    font-size: 14px;
}
#nbox #nr ol li {
	margin-top: 8px;
}


rt{font-size:50%}
.hm{
	background-color: #000;
	transition: color 0.13s linear;
	text-shadow: none;
}

#topbox{width:1920px;
		background-color:#FFF;
		position:fixed;
}	
#top{
	width:1920px;
	height: 80px;
	text-align: center;
	font-family:zihun;
	font-size: 55px;
	border: 3px solid #000;
}



#bbox{
	width: 100%;
	height: 420px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 83px;
	background-image: url(../images/images/sm_b12.png);
}


#nbox{width:100%;
      height:auto;
	  background-color:#f6fcfc;
	  padding-top:80px;
}
#nr{
	width: 950px;
	height:auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top:0px;
	border-radius: 10px;
	background-color:#FFF;
	box-shadow:0 0 10px rgb(0 0 0 / 5%);
}
#nbox #nr ul {
    width: 810px;
    margin-right: auto;
    margin-left: auto;
    font-family: heiti;
    line-height: 1.8em;
    letter-spacing: 2px;
    padding: 25px;
    font-size: 15px;
}
#nbox #nr ul li a {
	background-image: url(../images/images/%E4%B8%8B%E8%BD%BD.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-right:10px;
}

#ybox{
	height: 70px;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.ywz{
	padding-top: 25px;
	height: 70px;
	width: 670px;
}
#yejiao{width:100%;
        height:100px;
		background-color:#ddf4f4;
		margin-top:120px;
}

#yejiao .ywz ul {
	list-style-type: none;
	}
#yejiao .ywz ul li{
	width: 60px;
	float: left;
	font-family:heiti2;
	font-size: 12px;
	color: #626262;
	cursor: pointer;
}
.lj{
	color: #626262;
	text-decoration: none;
}
.qd{
	color:#3c5796;
}

/*滑动条设置*/
::-webkit-scrollbar {
    height: 100%;
	border-left-color:#000;
	border-left-style:solid;
	border-left-width:3px;
	border-right-color:#000;
	border-right-style:solid;
	border-right-width:3px;
}
/*滑块设置*/
::-webkit-scrollbar-thumb {
    background-color:#81d7d7;
	border:3px solid #000;
}

/*框选，背景颜色*/
::selection{background:#81d7d7;
}
